html,body{
    color:#000;
    background:#FFF;
    font-family: "Microsoft Yahei";  
    font-style: 14px;
    width: 100%;
    height: 100%;
}
img{ margin: 0; padding: 0;}
a{text-decoration: none;color: #666666; cursor: pointer;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
ul{
     list-style:none;
    }
q:before,q:after{
    content:'';

}
input,textarea,select{
   font-family:inherit;
   font-size:inherit;
   font-weight:inherit;
   *font-size:100%;
}
::-moz-placeholder { color: #fff; }
::-webkit-input-placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }

ul,ul li{ list-style:none;}
.clear{ clear:both; width:0; height:0; overflow:hidden;}

.banner1{background: url(../image/banner1.jpg) top center no-repeat; width: 100%; height: 470px;}
.banner2{background: url(../image/banner2.jpg) top center no-repeat; width: 100%; height: 530px;}
.daoyu{background: url(../image/daoyu.jpg) top center no-repeat; width: 100%; height: 373px;}
.daoyu p{ width: 1080px; margin: 0 auto; line-height: 40px;}
.daoyu p.daoyu-p1{ font-size: 16px; color: #fff; text-indent: 2em;padding-top: 110px;}
.daoyu p.daoyu-p2{ font-size: 14px; color: #b28fff; padding-top: 25px;}

.con1{background: url(../image/con1.jpg) top center no-repeat; width: 100%; height: 738px;}
.w-warp{ width: 1170px; margin: 0 auto;}
.con-box{ float: left; margin:0 50px 40px 0; position: relative; width: 247px; text-align: center;}
.rw-title{ margin-bottom: 20px;}
.margin-left{ margin-left: 150px;}
.margin-right{ margin-right: 0;}
.success{ display: block; position: absolute; top: 20px; left: 0; background: url(../image/success.png) top center no-repeat; width: 105px; height: 68px; }
.zt_hide{ display: none;}
.show{display: block;}

#rw_num_p{ font-size:0;}
.rw-img{ position: relative; z-index: 20;}
.rw-bg{ position: absolute; z-index: 10; top:62px; left: 0; background: url(../image/rw-bg.png) no-repeat; width: 247px; height: 291px;}
.quest-p{ font-size: 14px; color: #ffffff; padding: 10px 20px; text-align: left; line-height: 200%; }
.quest-a{ display: block; margin: 10px auto; width: 120px; height: 42px; background: url(../image/rw-btn.png) no-repeat; font-size: 14px; color: #ffffff; text-align: center; line-height: 42px;}
#rw5-quest p.quest-p,#rw6-quest p.quest-p,#rw7-quest p.quest-p{ padding: 50px 20px 30px;}
#rw3-quest p.quest-p{ padding-bottom: 32px;}
.quest-rad {width: 17px;height: 17px;float: left;padding-top: 3px;cursor: pointer;text-align: center;margin-right: 10px;
background-image: url(../image/rw-rad.png);background-repeat: no-repeat;background-position: -7px -46px;}
.radioclass {opacity: 0;cursor: pointer;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);}
.on {background-position:-7px -10px;}
.quest-text{font-size: 14px; color: #ffffff; float: left; text-align: left; padding-left: 10px;}
.rw-ul li{ height: 35px;padding-left: 57px;}

.con2{background: url(../image/con2.jpg) top center no-repeat; width: 100%; height: 727px;}
.con2-tab{padding-top: 75px;}
.tab-head{ width:557px; height:72px; margin:0 auto;}
.tab-head li{ float: left; width: 253px; margin-left: 25px;}
.tab-head li a{ display:block; color: #8c876b; line-height:72px; text-align: center; color: #563f8a; font-size:18px;}
.tab-head a.tab-select{ background:url(../image/con2-tab.png) no-repeat; color:#fff;  font-size:24px;}
.tab-title-warp{width:1000px;margin:0 auto;}
.tab-title{width:780px; height: 50px;margin-left: 123px; padding-top: 50px;}
.tab-title p{ float: left; font-size:16px; text-align: center; color: #fff; line-height:50px;}
.tab-con{ display: none;width:1000px;margin:0 auto; }
.tab-con ul{width:780px; margin-left: 123px; }
.tab-con ul li{ height:55px; width:780px; border-bottom:1px solid #271057;}
.tab-con ul li p{ float: left; font-size:14px;text-align:center; color: #b28fff; line-height:55px;}
.con2-p1{ width:150px; padding-left: 100px}
.con2-p2{ width:150px;}
.con2-p3{ width:150px;}
.con2-p4{ width:170px; }

#r1{ height:450px; overflow: hidden;}

.con3{background: url(../image/con3.jpg) top center no-repeat; width: 100%; height: 499px; text-align: center;}
.con3 p{ font-size: 20px; color: #fff; line-height: 40px; padding: 25px 0 30px 0;}

.con4{background: url(../image/con4.jpg) top center no-repeat; width: 100%; height: 587px;}
.con4-h5{font-size: 20px; color: #fff; font-weight: normal; text-align: center;/* padding: 30px 0 20px 0;*/ line-height: 40px;}
.con4-ul{ background: #1f0c46; width: 490px; margin: 0 auto; padding-top: 5px;}
.con4-ul li{ height: 40px;}
.con4-ul li:frist-child{ height: 50px; }
.con4-ul li:nth-child(2n){background: #2b135c;}
.con4-ul li p{  float: left; font-size: 16px; text-align: center; color: #ffffff; line-height: 40px;}
.con4-ul li p.con4-li-p1{ width: 40%; text-indent: 2em;}
.con4-ul li p.con4-li-p2{ width: 20%;}
.con4-ul li p.con4-li-p3{ width: 40%;}
.con4-p1,.con4-p2{ font-size: 14px; color: #b28fff; line-height: 35px; width: 1000px; margin: 0 auto;}
.con4-p1{ padding-top: 25px;}
.con4-p2{ padding-left: 56px;}

.pop-bg{position: fixed; z-index: 100; top: 0; left: 0; background: #000; opacity: 0.5; width: 100%; height: 100%;}
.pop-con,.pop-con1{ position: fixed; z-index: 110; left: 50%; margin-left: -180px; top: 30%; width: 360px; height: 350px;}

.pop-close{ position:relative; z-index: 200; background: url(../image/pop-close.png) no-repeat; font-size: 0; width: 38px; height: 36px; margin:0 10px 10px 0; float: right;}
.pop-con-bg{ background:#f8dd4a; border: 2px solid #7a6d28; border-radius: 20px; padding: 20px 0; width: 360px;}

.pop-img{width: 261px; height: 261px;position: absolute;top: -10px; left: 90px;}
.pop-img1{background: url(../image/pop-img1.png) no-repeat;}
.pop-img2{background: url(../image/pop-img2.png) no-repeat;}
.pop-con p,.pop-con1 p{ color: #7a6d28;text-align: center; }
.pop-p{ font-size: 28px; line-height: 100px;}
.pop-p1{font-size: 20px; line-height: 150%; padding-top: 120px;}
.pop-p2{ font-size: 16px; line-height: 150%;}
.pop-p2 span{ font-size: 21px; color: #e60012;}
#pop-text3{ text-align: center;}
#pop-text3 p.pop-p1{ padding: 10px 0 20px 0;}
#pop-text2 p.pop-p1{ padding-top: 100px;}
.pop-a,.pop-a1{position: relative; z-index: 200; display: block; width: 140px; height: 49px; margin: 15px auto 0; font-size: 16px; color: #7a6d28; text-align: center; line-height: 50px; background: url(../image/pop-btn.png) no-repeat;}
