@charset "utf-8";
.d3-wrap{ width: 100%; height: 73.6rem; background: url("../images/download_bg3.png") no-repeat 0 0; background-size: 100% 100%; overflow: hidden;}
.d3-btn{ width: 90.74%; height: 7.4rem; display: block; margin: 64rem auto 0; background: url("../images/d3_btn.png") no-repeat 0 0; background-size: 100% 100%;}