.container {
  max-width: 15rem;
  margin: 0 auto;
}
.container img {
  width: 100%;
}
.active {
  background: #e9f4f7;
  overflow: hidden;
  padding-bottom: 1rem;
}
.active .active_list {
  width: 12.88rem;
  margin: 0 auto;
}
.active .active_list li {
  width: 5.6rem;
  height: 6rem;
  float: left;
  margin: 0.6rem 0.42rem 0;
  border-radius: 0.12rem;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.active .active_list li img {
  margin-bottom: 0.2rem;
}
.active .active_list li p {
  line-height: 0.68rem;
  font-size: 0.36rem;
  color: #333;
  padding-left: 0.24rem;
}
.active .active_list li p span {
  font-size: 0.28rem;
  color: #28abf5;
}
.active .active_list li a {
  width: 100%;
  line-height: 0.9rem;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 0.36rem;
  background: #28abf5;
  position: absolute;
  bottom: 0;
}
.nav {
  position: fixed;
  right: 0.6rem;
  bottom: 0.6rem;
}
.nav a.icon {
  width: 1.94rem;
  height: 1.94rem;
  display: block;
  margin-bottom: 0.2rem;
  text-align: right;
}
.nav ul {
  width: 5.06rem;
  height: 10.08rem;
  background: url("../images/nav_bg.png");
  background-size: 100% 100%;
  position: absolute;
  left: -3.34rem;
  top: -10.3rem;
  display: none;
}
.nav ul li {
  width: 100%;
  height: 1.6rem;
  line-height: 1.56rem;
}
.nav ul li a {
  display: block;
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
}
.nav ul li:first-of-type {
  margin-top: 0.2rem;
}
