body{ min-width: 1200px;}
.blank_60{ width: 100%; height: 60px; overflow: hidden;}
.banner{ width: 100%; height: 460px; background: url("../images/banner.png") no-repeat 50% 0!important;}
.wrap{ width: 100%; overflow: hidden;}
.wrap_blue{ background: #e9f4f7;}
.active{ padding-bottom: 100px;}
.wrap h3{ width: 416px; height: 103px; margin: 0 auto; background: url("../images/title.png") no-repeat 0 0;}
.products h3{ background-position: 0 -103px;}
.portrait h3{ background-position: 0 -206px;}
.data h3{ background-position: 0 -309px;}
.project h3{ background-position: 0 -412px;}
.active h3{ background-position: 0 -515px;}
.rank h3{ background-position: 0 -618px;}
.maximum h3{ background-position: 0 -721px;}
.story h3{ background-position: 0 -824px;}
.events h3{ background-position: 0 -927px;}
.honour h3{ background-position: 0 -1030px;}
.box{ width: 1200px; margin: 40px auto 60px; overflow: hidden; position: relative;}
.business .box{ height: 314px; background: url("../images/bg1.png") no-repeat;}
.products .box{ height: 230px; background: none;}
.portrait .box{ height: 460px; background: url("../images/bg2.png") no-repeat;}
.data .box{ height: 280px; background: url("../images/bg9.png") no-repeat;}
.project .box{ height: 350px; background: url("../images/bg3.png") no-repeat;}
.active .box{ background: none;}
.rank .box{ height: 400px; background: url("../images/bg4.png") no-repeat;}
.maximum .box{ height: 444px; background: url("../images/bg5.png") no-repeat;}
.story .box{ height: 485px; background: url("../images/bg6.png") no-repeat;}
.honour .box{ height: 710px; background: url("../images/bg8.png") no-repeat;}
.events img{ display: block; margin: 20px auto 0;}
.events span{ display: block; margin-top: 30px; line-height: 20px; text-align: center; font-size: 16px; color: #666;}

.box p{ position: absolute; font-size: 18px; color: #666;}
.business p{ line-height: 38px; left: 84px; top: 130px; text-align: center;}
.business .business_word_2{ left: 918px;}
.products p{ width: 420px; line-height: 42px; left: 84px; top: 26px; font-size: 22px; text-align: center;}
.products ul,.data ul{ width: 430px; margin: 22px 0 0 710px;}
.products li,.data li{ float: left; width: 100%; line-height: 40px; font-size: 18px; color: #666; padding-left: 30px; background: url("../images/list_style.png") no-repeat 3px 12px;}
.products span{ color: #28abf5; padding-right: 44px;}
.data p{ font-size: 22px; color: #333; left: 666px; top: 12px;}
.data ul{ margin: 64px 0 0 630px;}
.data li{ padding-left: 38px; line-height: 46px; background-position: 3px 16px;}
.story p{ width: 260px; line-height: 32px; left: 500px; top: 140px; color: #333;}
.story p.story_word_2{ width: 362px; left: 840px; top: 98px;}
.active .box{ margin-top: 24px; margin-bottom: 8px;}
.active li{ width: 280px; height: 330px; float: left; position: relative; margin-top: 30px; margin-right: 27px; border-radius: 6px; overflow: hidden; background: white;}
.active li.active_list_1{ margin-left: 155px;}
.active li.active_list_7{ margin-right: 0; margin-left: -1px;}
.active img{ margin-bottom: 10px;}
.active p{ line-height: 34px; color: #333; position: relative; padding-left: 12px;}
.active span{ font-size: 14px; color: #28abf5;}
.active li a{ width: 100%; line-height: 45px; display: block; text-align: center; font-size: 18px; color: white; position: absolute; bottom: 0; background: #28abf5;}

.nav{ width: 160px; position: fixed; left: 50%; top: 230px; margin-left: 650px;}
.nav img{ float: left;}
.nav ul{ width: 116px; margin-left: 25px; background: #259cde; overflow: hidden; float: left;}
.nav li{ width: 100%; height: 32px; line-height: 32px; float: left; text-align: center; font-size: 15px; margin-bottom: 4px;}
.nav li:last-of-type{ margin-bottom: 0;}
.nav li a{ display: block; color: white; background: #58c2ff;}
.nav li a:hover{ background: #1884c1;}
