@charset "utf-8";
/* CSS Document */
html{ color: #000; background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 100%;}
*html,*html body{ background-attachment: fixed;}
body,div,dl,ol,dt,dd,ul,li,pre,form,fieldset,select,input,textarea,button,p,blockquote,th,td,img,iframe{ margin: 0; padding: 0;}
body{ width: 100%;}
body,button,input,select,textarea{ font: 12px/1.5 "微软雅黑","Microsoft YaHei","\5b8b\4f53","Tahoma","Arial"; color: #333; outline: none;}
input,select,textarea{ font-size: 100%;}
button{ border: none;}
table{ border-collapse: collapse; border-spacing: 0;}
th{ text-align: inherit;}
caption,th{ text-align: left;}
fieldset,img{ border: none; -moz-outline:none; outline: none;}
iframe{ display: block;}
ol,ul,li{ list-style: none;}
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: 500; margin: 0; padding: 0;}
a{ color: #333; cursor: pointer; outline: none; text-decoration: none; blr:expression(this.onFocus=this.blur());}
a:hover{ text-decoration: none;}
.clearfix:before,.clearfix:after,.cf:before,.cf:after{ display: block; content: " ";}
.clearfix:after,.cf:after{ clear: both;}
.clearfix,.cf{ zoom: 1;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{ display: block;}
audio,canvas,video{ display: inline-block; *display: inline; *zoom: 1;}
address,caption,cite,code,dfn,em,th,i,b,strong{ font-style: normal; font-weight: normal;}
.box-sizing{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}