html,body{
    color:#000;
    background:#FFF;
    font-family: "Microsoft Yahei";  
    font-style: 14px;
    width: 100%;
    height: 100%;
}
img{ margin: 0; padding: 0; width: 100%; height: auto;}
a{text-decoration: none;color: #666666; cursor: pointer;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
ul{
     list-style:none;
    }
q:before,q:after{
    content:'';

}
input,textarea,select{
   font-family:inherit;
   font-size:inherit;
   font-weight:inherit;
   *font-size:100%;
}
ul,ul li{ list-style:none;}
::-moz-placeholder { color: #fff; }
::-webkit-input-placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }

.clear{ clear:both; width:0; height:0; overflow:hidden;}

.top{ position: fixed; z-index: 2; top: 0; left: 0; width: 100%; height: 1rem; background: rgba(58,74,90,0.8);   }
.top-download{ display: block; position: absolute; left: 0.25rem; line-height: 1rem; z-index: 5; font-size: 0.28rem; color: #fff;}
.top-download img{ width: 0.57rem;vertical-align: middle; margin-right: 0.25rem;}
.top-close{ width: 0.37rem; position: absolute; right: 0.37rem; top: 0.25rem; z-index: 10;}

.reg-con{background: url(../images/reg-bg.png) no-repeat; width: 100%; height: 5.45rem; background-size: 100% 5.45rem;}
.r-form{ padding: 0.5rem 0 0 1rem;}
.r-form li{ position: relative; width: 5.3rem; height: 0.55rem; border:1px solid #5298f9; border-radius: 4px; margin-bottom: 0.4rem;}
.r-form li span{ width:0.6rem; height: 0.55rem; display: block; text-align: center; float: left; }
.r-form li span img{ margin-top: 0.15rem; width: 0.19rem; }
.r-form li input{width:4.65rem; height:0.55rem; line-height:0.55rem;font-size:0.26rem; color: #fff; background: none; float: left; border: none; outline: none; }
.r-form li input.r-input{ width:2.1rem;}
.r-form li #Jverify_img{position: absolute; right: -2.5rem; width:2.05rem; height: 0.56rem; font-size: 0.26rem; font-weight: bold; color: #085d1f; background: #fff; border-radius: 4px;}

.r-form li.r-form-li a{ position: absolute; right: -2.5rem; background: url(../images/reg-btn1.png) no-repeat; background-size: 2.05rem 0.56rem;
 width:2.05rem; height: 0.56rem; font-size: 0.26rem; text-align: center; color: #fff; line-height: 0.56rem;}
.r-form li.r-form-li a.gray{ background: #dfe5eb; border-radius: 4px; text-align: center; line-height: 0.56rem; font-size:0.2rem; color: #666666;}
.r-form li.r-form-li{width: 2.9rem; }
.r-form li .tip{ position: absolute; left: 0.1rem; top:0.6rem; font-size:0.2rem;  font-weight: normal; color: #ffffff;}
.r-btn a{ display: block;margin:0 auto; width: 2.58rem;height: 0.69rem; border-radius: 4px; color: #434dad; text-align: center; 
  font-size: 0.28rem; line-height: 0.69rem; background:#4bf6fb;}


.con1{background: url(../images/con1.png) no-repeat; width: 100%; height: 5.38rem; background-size: 100% 5.38rem;}
.con1-ul{ width: 100%;}
.con1-ul li{ float: left; margin-top: 0.3rem; width: 3.43rem; height: 2.22rem; background: url(../images/con1-img1.png) no-repeat; background-size: 3.43rem 2.22rem;}
.con1-ul li img{float: left; }
.con1-ul li p{float: left; font-size: 0.22rem; color: #616ef7; line-height: 180%; }
.con1-ul li p span{ font-size: 0.28rem; }
.con1-li1{ margin-left: 2.1rem;}
.con1-li2{ margin-left: 0.3rem;}
.con1-li3{ margin-left: 0.3rem;}
.con1-li1 img {width: 0.63rem; margin-top: 0.75rem;margin-left: 0.4rem;}
.con1-li2 img {width: 0.89rem; margin-top: 0.7rem;margin-left: 0.3rem;}
.con1-li3 img {width: 0.66rem; margin-top: 0.65rem;margin-left: 0.4rem;}
.con1-li1 p {margin-top: 0.75rem;margin-left: 0.3rem;}
.con1-li2 p {margin-top: 0.7rem;margin-left: 0.1rem;}
.con1-li3 p {margin-top: 0.4rem;margin-left: 0.3rem;}

.con2{background: url(../images/con2.png) no-repeat; width: 100%; height: 9.16rem; background-size: 100% 9.16rem;}
.con2-ul{ padding-top: 0.6rem;}
.con2-ul li{ position: relative; width:100%; margin-bottom: 0.5rem;}
.con2-ul li img{width: 5.44rem; display: block; margin: 0 auto;}
.con2-ul li a{ position: absolute; bottom: 0.5rem; left: 50%; margin-left: -1rem; cursor: pointer; font-size: 0; display: block; width: 2rem; height: 0.7rem;}

.con3{background: url(../images/con3.png) no-repeat; width: 100%; height: 9.13rem; overflow: hidden; background-size: 100% 9.13rem;}
.con3 h2{ text-align: center; text-indent: -0.5rem; font-size: 0.3rem; color: #fff; padding-top: 1.12rem;  font-weight: normal;}
.con3-ul{ padding-top: 0.5rem;}
.con3-ul li{ float: left; text-align: center; width: 2.6rem; height: 3.7rem; margin-left: 0.82rem;}
.con3-ul li img{ width: 1.6rem;}
.con3-ul li p{ font-size: 0.24rem; color: #ffffff; line-height: 180%; text-align: center; padding-top: 0.15rem;}
.con3-ul li p span{display: block; font-size: 0.28rem;}

.con4{ background: url(../images/con4.png) no-repeat; width: 100%; height: 7.5rem; background-size: 100% 7.5rem;}
.con4 p{ width: 7rem; font-size: 0.26rem; color: #fff; line-height: 200%; padding:0.2rem 0 0 0.4rem; }
.con4-a{ display: block;margin: 0.2rem auto 0; width: 4.08rem; height: 0.76rem; border-radius: 0.45rem; border:1px solid #fff; color: #fff;  font-size: 0.28rem; line-height: 0.76rem; text-align: center;}

.con4 p.con-p{ font-size: 0.2rem; color: #a8a3ff; text-align: center;padding-top: 0.05rem;}